ul { 
  color: #FFC0CB 
  Font-family: "Times New Roman"
}

p {
  Font-family: "Times New Roman"
    color: #FFC0CB
}

ol { 
  color: #FFC1CC
  Font-family: "Times New Roman"
}

h1 {  
  color: #FC6C85
  Font-family: "Times New Roman"
}

header { 
  color: #DE5D83
  Font-family: "Times New Roman"
}

body {
  color: #FF9999
    Font-family: "Times New Roman" 
}

footer {
  color: #A94064
    Font-Family: "Times New Roman"
}
